# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data & Results
datasets/custom/
!datasets/custom/.gitkeep
#datasets/raw_images/
results/
models/
# *.pt files are tracked by Git LFS
# *.pt
# exported_models/ is tracked by Git LFS
# exported_models/
logs/ # New location for log files
# IDE
.vscode/
.idea/

# AI Context
gemini.md
