--extra-index-url https://download.pytorch.org/whl/cpu
anomalib
torch
torchvision
pandas
numpy
matplotlib
opencv-python
scikit-image
scikit-learn
lightning
pytorch-lightning
timm
einops
kornia
freia
streamlit>=1.40.0
watchdog
